* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #FFEABB;
    min-height: 100vh;
}

header, main, footer {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

header {
    background-color: #FE81D4;
    padding: 20px;
    text-align: center;
    border-bottom: 3px dotted white;
}

main {
    flex: 1;
    background-color: #FBC3C1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-bottom: 3px dotted white;
}
.content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.left, .right {
    flex: 1 1 300px;
    text-align: center;
    overflow: hidden;
}

.left img, .right img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    border: #FAACBF solid 5px;
    transition: opacity 0.5s ease-in-out; 
}

@media (min-width: 768px) {
    .content {
        flex-direction: row;
    }

    .left, .right {
        flex: 1;
        min-height: 400px;
    }
}

footer {
    background-color: #FE81D4;
    padding: 20px;
    text-align: center;
}

button.btn {
    margin-top: 10px;
    margin-bottom: 10px;
}
